<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="InfoFile" fileName="logs/logInfo.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INPUT_HISTORY_STATIONS"/>
            </Filters>
<!--            <RegexFilter regex="Error:.*" onMatch="DENY" onMismatch="ACCEPT"/>-->
        </File>

        <File name="DebugFile" fileName="logs/logDebug.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
<!--            <RegexFilter regex="Search this station:.*|Error:.*" onMatch="DENY" onMismatch="ACCEPT"/>-->
            <Filters>
                <MarkerFilter marker="WRONG_STATIONS"/>
            </Filters>
        </File>

        <File name="ErrorFile" fileName="logs/logError.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
<!--            <RegexFilter regex="Search this station:.*|Station not found:.*" onMatch="DENY" onMismatch="ACCEPT"/>-->
            <Filters>
                <MarkerFilter marker="ERRORS_MARKER"/>
            </Filters>
        </File>
    </appenders>

    <loggers>
        <root level="trace">
            <appender-ref ref="InfoFile"/>
            <appender-ref ref="DebugFile"/>
            <appender-ref ref="ErrorFile"/>
        </root>
    </loggers>
</configuration>